// Loader

article {

  html.js & {
    transition: all .8s 1.5s;
    opacity: 0;
    visibility: hidden;
  }

  html.no-js &,
  html.wf-active &,
  html.wf-inactive & {
    opacity: 1;
    visibility: visible;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 50px);

  html.js & {
    transition: all .8s 1s;
    opacity: 1;
  }

  html.wf-active &,
  html.wf-inactive & {
    opacity: 0;
    visibility: hidden;
  }
}

.loader,
.loader::before,
.loader::after {
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
  content: '';
}

.loader {
  border-top-color: rgba(#fff, 0.6);
  height: 100px;
  width: 100px;
  animation: rotateOne linear infinite;
  animation-duration: 1.05s;
}

.loader::before {
  border-top-color: #fff;
  height: 75px;
  width: 75px;
  top: 10px;
  left: 10px;
  animation: rotateThree linear infinite;
  animation-duration: 10s;
}

.loader::after {
  border-top-color: rgba(#fff, 0.1);
  height: 50px;
  width: 50px;
  top: 22px;
  left: 22px;
  animation: rotateTwo linear infinite;
  animation-duration: 4s;
}

@keyframes rotateOne {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateTwo {
  from {
    transform: rotateZ(340deg);
  }
  to {
    transform: rotateZ(339deg);
  }
}

@keyframes rotateThree {
  from {
    transform: rotateZ(320deg);
  }
  to {
    transform: rotateZ(219deg);
  }
}