// Layout

header,
section,
footer {
  @include span-columns(10);
  @include shift(1);
  margin-right: 0;

  @include media($medium-screen-up) {
    @include span-columns(8);
    @include shift(2);
    margin-right: 0;
  }
}

// Set Font Size at Breakpoints
@include media($medium-screen-up) {

  article {
    @include outer-container;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
  }

  .inner {
    flex: 1;
  }

  header {
    font-size: 1.3em;
  }

  section {
    font-size: 1.4em;
  }
}

footer {
  margin-top: 2em;

  &:before {
    display: block;
    content: "";
    border-top: 1px solid rgba(#fff, 0.4);
    width: 25%;
    margin: 0 auto;

  }

  nav {
    margin: 3em 0 4em;
  }

  ul {
    display: inline-block;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 0.25em;

    @include media($medium-screen-up) {
      margin: 0 0.5em;
    }
  }

  a {
    transition: opacity 0.5s;
    opacity: 0.6;
  }

  img {
    width: em(44);

    @include media($medium-screen-up) {
      width: em(61);
    }
  }

  ul:hover {

    a {
      opacity: 0.1;

      &.active {
        opacity: 1;
      }
    }
  }
}
