::selection {
  background-color: var(--c-primary);
  color: var(--c-secondary);
}

body {
  background-color: var(--c-secondary);
  color: var(--c-primary);
  font-weight: 400;
  line-height: var(--f-lineheight-normal);
  font-family: 'Outfit', sans-serif;
}

a {
  background-color: var(--c-highlight);
  color: var(--c-primary);
  transition: background-color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 0.2rem;

  &:hover,
  &:focus {
    background-color: var(--c-highlight-focus);
    text-decoration: underline;
    text-decoration-color: var(--c-focus);
  }

  &:focus {
    outline: solid;
    outline-color: var(--c-focus);
    outline-offset: 0.1rem;
  }
}

.container {
  max-width: var(--container);
  margin-inline: auto;
  padding-right: 2rem;
  padding-left: 2rem;

  @media (min-width: 992px) {
    width: 90%;
    padding-right: 0;
    padding-left: 0;
  }
}

.main {
  margin-block: 3rem 5rem;

  @media (min-width: 992px) {
    margin-block-start: 15vh;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-block-start: 5em;
  gap: 1rem;
  font-size: clamp(1rem, 1.295rem, 1.2rem);

  @media (min-width: 992px) {
    gap: 2rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    white-space: nowrap;
  }
}
