.form-row {
  margin-block-end: 3rem;
}

form {
  margin-block-start: 2em;
}

label {
  display: block;
  margin-block-end: 1rem;
  font-size: clamp(1rem, 0.914rem + 0.381vw, 1.2rem);
}

fieldset,
input,
legend,
select,
textarea {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--c-primary);
}

input[type='text'],
input[type='email'],
select,
textarea {
  display: block;
  width: -webkit-fill-available;
  max-width: 65ex;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--c-primary);

  @media (min-width: 1280px) {
    padding: 1rem 0;
  }

  &:focus {
    border-bottom: 2px solid var(--c-focus);
    outline: none;
  }
}

textarea {
  max-width: 95ex;
}
