.form-row {
  margin-block-end: 3rem;
}

form {
  margin-block-start: 2em;
}

label {
  display: block;
  font-size: clamp(1rem, 0.914rem + 0.381vw, 1.2rem);
  margin-block-end: 1rem;
}

fieldset,
input,
legend,
select,
textarea,
button {
  color: var(--primary-color);
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}

input[type='text'],
input[type='email'],
select,
textarea {
  display: block;
  width: -webkit-fill-available;
  max-width: 65ex;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--primary-color);

  @media (min-width: 1280px) {
    padding: 1rem 0;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--focus);
  }
}

textarea {
  max-width: 95ex;
}

button,
input[type='submit'] {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
  }
}
