:root {
  /* Breakpoints */
  --bp-mobile: 767px;
  --bp-tablet: 992px;
  --bp-desktop: 1200px;

  /* Colors */
  --c-primary: hsl(222, 47%, 11%);
  --c-secondary: hsl(210, 40%, 96%);
  --c-focus: hsl(199, 89%, 48%);
  --c-highlight: hsl(194, 61%, 89%);
  --c-highlight-focus: hsl(194, 65%, 84%);

  /* Layout */
  --container: 1200px;

  /* Typography */
  --f-lineheight-normal: 1.2;
  --f-lineheight-tall: 1.5;
  --f-lineheight-tight: 1;
  --f-letter-spacing-in: -0.025em;
  font-size: 1.0625rem;

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    --c-primary: hsl(210, 40%, 96%);
    --c-secondary: hsl(222, 47%, 11%);
    --c-highlight: hsl(222, 62%, 20%);
    --c-highlight-focus: hsl(222, 54%, 30%);
  }
}
