%button {
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  border-radius: 50%;
  color: $cm-blue;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: 3.5em;
  width: 4em;
  //padding: 0.75em 1em;
  padding: 0;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    color: white;
  }

  &:focus,
  &:active {
    background-color: rgba(darken($cm-blue, 30%), 0.2);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
