.button,
button,
input[type='submit'] {
  appearance: none;
  margin: 0;
  padding: 1rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 0;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}
